Importing libraries

In [1]:
import pandas as pd

Importing kaggle data from csv files

In [28]:
kaggle_training_data = pd.read_csv("kaggleData/train.csv")
kaggle_test_data = pd.read_csv("kaggleData/test.csv")

In [3]:
kaggle_training_data

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88

In [4]:
Y_column_names = ["casual", "registered", "count"];

In [5]:
X_kaggle_training_data = kaggle_training_data.drop(Y_column_names, axis=1)

In [6]:
Y_kaggle_training_data = kaggle_training_data[Y_column_names].copy()

In [7]:
X_kaggle_training_data

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000
...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981

In [8]:
Y_kaggle_training_data

       casual  registered  count
0           3          13     16
1           8          32     40
2           5          27     32
3           3          10     13
4           0           1      1
...       ...         ...    ...
10881       7         329    336
10882      10         231    241
10883       4         164    168
10884      12         117    129
10885       4          84     88

[10886 rows x 3 columns]

In [9]:
X_kaggle_training_data.dtypes

datetime       object
season          int64
holiday         int64
workingday      int64
weather         int64
temp          float64
atemp         float64
humidity        int64
windspeed     float64
dtype: object

In [10]:
X_kaggle_training_data["datetime"] = pd.to_datetime(X_kaggle_training_data["datetime"])

In [11]:
X_kaggle_training_data.dtypes

datetime      datetime64[ns]
season                 int64
holiday                int64
workingday             int64
weather                int64
temp                 float64
atemp                float64
humidity               int64
windspeed            float64
dtype: object

Creating dummies, precautionary, doesn't actually do anything because all values are already numerical values

In [12]:
X_kaggle_training_data = pd.get_dummies(X_kaggle_training_data)

In [13]:
Y_kaggle_training_data = pd.get_dummies(Y_kaggle_training_data)

In [14]:
Y_kaggle_training_data

       casual  registered  count
0           3          13     16
1           8          32     40
2           5          27     32
3           3          10     13
4           0           1      1
...       ...         ...    ...
10881       7         329    336
10882      10         231    241
10883       4         164    168
10884      12         117    129
10885       4          84     88

[10886 rows x 3 columns]

In [15]:
X_kaggle_training_data["year"] = X_kaggle_training_data["datetime"].dt.year
X_kaggle_training_data["month"] = X_kaggle_training_data["datetime"].dt.month
X_kaggle_training_data["day"] = X_kaggle_training_data["datetime"].dt.day
X_kaggle_training_data["hour"] = X_kaggle_training_data["datetime"].dt.hour

In [30]:
Y = kaggle_test_data["datetime"]

In [16]:
X_kaggle_training_data.drop("datetime", axis=1, inplace=True)

In [17]:
X_kaggle_training_data

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,year,month,day,hour
0,1,0,0,1,9.84,14.395,81,0.0000,2011,1,1,0
1,1,0,0,1,9.02,13.635,80,0.0000,2011,1,1,1
2,1,0,0,1,9.02,13.635,80,0.0000,2011,1,1,2
3,1,0,0,1,9.84,14.395,75,0.0000,2011,1,1,3
4,1,0,0,1,9.84,14.395,75,0.0000,2011,1,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...
10881,4,0,1,1,15.58,19.695,50,26.0027,2012,12,19,19
10882,4,0,1,1,14.76,17.425,57,15.0013,2012,12,19,20
10883,4,0,1,1,13.94,15.910,61,15.0013,2012,12,19,21
10884,4,0,1,1,13.94,17.425,61,6.0032,2012,12,19,22
10885,4,0,1,1,13.12,16.665,66,8.9981,2012,12,19,23

In [18]:
Y_kaggle_training_data = Y_kaggle_training_data["count"]

In [19]:
Y_kaggle_training_data

0         16
1         40
2         32
3         13
4          1
        ...
10881    336
10882    241
10883    168
10884    129
10885     88
Name: count, Length: 10886, dtype: int64

In [20]:
from sklearn.ensemble import RandomForestClassifier

In [21]:
rf = RandomForestClassifier()

In [22]:
rf.fit(X_kaggle_training_data, Y_kaggle_training_data)

RandomForestClassifier()

In [23]:
kaggle_test_data["datetime"] = pd.to_datetime(kaggle_test_data["datetime"])

In [24]:
kaggle_test_data["year"] = kaggle_test_data["datetime"].dt.year
kaggle_test_data["month"] = kaggle_test_data["datetime"].dt.month
kaggle_test_data["day"] = kaggle_test_data["datetime"].dt.day
kaggle_test_data["hour"] = kaggle_test_data["datetime"].dt.hour

In [25]:
kaggle_test_data.drop("datetime", axis=1, inplace=True)

In [26]:
Y_kaggle_test_data = rf.predict(kaggle_test_data)

In [27]:
Y_kaggle_test_data

array([ 19,   6,   3, ..., 373, 102,  59], dtype=int64)

In [32]:
df = pd.DataFrame({
    "datetime": Y,  # The first column, renamed to "datetime"
    "count": Y_kaggle_test_data  # The second column, from the array
})

In [36]:
df

                 datetime  count
0     2011-01-20 00:00:00     19
1     2011-01-20 01:00:00      6
2     2011-01-20 02:00:00      3
3     2011-01-20 03:00:00      3
4     2011-01-20 04:00:00      1
...                   ...    ...
6488  2012-12-31 19:00:00    191
6489  2012-12-31 20:00:00    191
6490  2012-12-31 21:00:00    373
6491  2012-12-31 22:00:00    102
6492  2012-12-31 23:00:00     59

[6493 rows x 2 columns]

In [37]:
df.to_csv("submission.csv", index=False)